{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Reminder{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="parent">
    <form method="post">
        <label for="body">Reminder</label>

        <textarea name="body" id="body">{{ request.form['body'] }}</textarea>

        <input type="text" name="text" id="text" value="{{ request.form['title'] }}" required>


        <label for="date">Date/time</label>

        <input type="date" name="date" id="date" value="{{ request.form['title'] }}" required>

        <input type="time" name="time" id="time" value="{{ request.form['title'] }}" required>

        <input type="submit" value="Save">

    </form>
</div>
{% endblock %}